{
	auto_https off
	http_port {$PORT}
	admin off
}

:{$PORT} {
	@health path /healthz
	handle @health {
		respond "ok" 200
	}

	handle_path /metrics* {
		reverse_proxy http://{$CMDCLAW_VICTORIA_METRICS_HOST}:8428
	}

	handle_path /logs* {
		reverse_proxy http://{$CMDCLAW_VICTORIA_LOGS_HOST}:9428
	}

	handle_path /traces* {
		reverse_proxy http://{$CMDCLAW_VICTORIA_TRACES_HOST}:10428
	}

	handle {
		reverse_proxy http://{$CMDCLAW_GRAFANA_HOST}:3000
	}
}
